<ion-view >
  <ion-content class="padding">
      <div id="login-view">
      <img src="assets/images/rf.gif">
      <br>
      <form ng-submit="vm.login()" novalidate>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">usuário</span>
            <input type="text" ng-model="vm.user.username">
          </label>
          <label class="item item-input">
            <span class="input-label">senha</span>
            <input type="password" ng-model="vm.user.password">
          </label>
        </div>
        <button type="submit" class="button button-block button-positive" >
          entrar
        </button>
      </form>
      <div ng-show="vm.error()" class="card">
        <div class="item item-text-wrap">
          {{vm.error()}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
