<ion-view view-title="notificacoes">
  <ion-content class="padding">

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Tipo
        </div>
        <select ng-model="vm.selectedtype">
          <option selected>Todos</option>
          <option>Emissao</option>
          <option>OP</option>
          <option>Credito</option>
        </select>
      </label>
    </div>

    <div class="list">
      <div ng-repeat="notificacao in vm.notificacoes.notificacoes | notificacoesCustomFilter: vm.selectedtype" class="item item-icon-right">
        {{notificacao.titulo}}
          <i class="icon ion-chevron-right"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
