<!doctype html>
<html class="no-js" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Reserva Fácil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) assets/css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) assets/css/main.css -->
    <link rel="stylesheet" href="assets/css/totp.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="mainController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="align-center pnl">
            <img onclick="info()" class="align-center" src="assets/images/rf.gif" >
            <button ng-click="open()">Modal</button>
            <button ng-click="open('lg')">Modal lg</button>
            <button ng-click="open('sm')">Modal sm</button>
            <button ui-sref="user">Rendom user</button>
            <br><br>

            <ui-view></ui-view>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="common/models/UsersModel.js"></script>
    <script src="common/pushmodal/pushmodal.js"></script>
    <script src="user/user.js"></script>
    <script src="login/login.js"></script>
    <script src="token/token.js"></script>
    <script src="app.js"></script>
    <script src="assets/scripts/sha.js"></script>
    <script src="assets/scripts/cordova-plugins.js"></script>
    <script src='assets/scripts/totp.js'></script>
    <!-- endbuild -->
    <script src="cordova.js"></script>
  </body>
</html>
